<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div th:insert="~{fragment :: locale}"></div>
<form th:action="@{/login}" method="post">
<!--    <input type="hidden"-->
<!--           th:name="${_csrf.parameterName}"-->
<!--           th:value="${_csrf.token}">-->
    <div style="color: red" th:if="${param.error}">
        Bad credentials
    </div>
    <label for="username"><span th:text="#{login.username}">Username:</span>
        <input id="username" type="text" name="username">
    </label><br>
    <label for="password"><span th:text="#{login.password}">Password:</span>
        <input id="password" type="password" name="password">
    </label><br>
    <button type="submit">Login</button>
</form>
<div>
    <div>Login with:</div>
    <a href="/oauth2/authorization/google">Google</a>
</div>
<form action="/users/registration">
    <button type="submit">Registration</button>
</form>
</body>
</html>